.footer__container {
  background-color: #F8F8F8; 
  /* height: 195px; */
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  margin-right: 100px;
  margin-left: 100px;
  padding-bottom: 20px;
  
  height: 134px;
}

.footer_txt {
  font-weight: 300;
  font-size: 17px;   
  line-height: 28px; 
  font-family: "Mulish";
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footer__hr {
  background: #C4C4C4;
  height: 0.6px;
  width: 1318px;
  border: 0;
}

.footer__social {
  display: flex;
  justify-content: center; 
  gap: 35px; 
  margin-top: 20px;
}

.footer__social img {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0;
    padding-left: 10rem;
    height: 15rem ;
  }

  .footer__hr {
    width: 100%;             
    height: 1px;                                   
  }
}