.footer__container {
  background-color: #F8F8F8; 
  width: 100%;
  flex-direction: row;
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  padding-bottom: 20px;
  width: 80%;
}

.footer_txt {
  font-weight: 300;
  font-size: 17px;   
  line-height: 28px; 
  font-family: "Mulish";
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footer__hr {
  background: #C4C4C4;
  height: 1.6px;
  border: 0;
  width: 100%;
}

.footer__social {
  display: flex;
  justify-content: center; 
  gap: 35px; 
  margin-top: 20px;
}

.footer__social img {
  width: 22px;
  height: 22px;
}

.wing {
  width: 10%;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 15rem ;
  }

  .footer__hr {
    width: 100%;             
    height: 1px;                                   
  }
  
  .footer_txt {
    font-size: 1.25rem;
  }
}