:root {
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
}

body {
  font-family: "Inter", sans-serif;
  color: #7D7987;
}

li {
  list-style: none;
}

.paragraph {
  font-weight: 300;
  font-size: 17px;   
  line-height: 30px; 
  font-family: "Mulish";
}

.heading {
  font-weight: 700;
  font-size: 36px;   
  line-height: 50px; 
  color: #000000;
  font-family: "Playfair Display";
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .paragraph {
    font-weight: 300;
    font-size: 1.0625rem;   
    line-height: 1.875rem; 
    font-family: Mulish;
  }

  .heading {
    font-size: 1.5rem;   
    line-height: 7.725rem; 
    font-weight: 700;
    color: #000000;
    font-family: "Playfair Display";
  }

  body {
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
  } 

}

@media screen and (max-width: 450px) {
  :root {
    font-size: 12px;
  }
}