.hero {
  height: 100vh;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  
}

.hero__button {
  width: 164px;
  height: 48px;
  background: #FB8F1D;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  margin-top: 39px;
  display: inline-flex;       
  align-items: center;        
  justify-content: center;    
}

.container__hero {
  display: flex;
  height: 80vh;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 100px;
}

.hero__image {
  padding-left: 44px;
  padding-top: 138px;
  padding-right: 77px;
}


@media screen and (max-width: 768px) {
  .container__hero{
    width: 100rem;
    height: 300vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 35%;
    gap: 0;

  }

  .hero__inner {
    align-items: center;
    width: 100%;
    height: 300vh;
    justify-content: center;
    background-color: #af5c5c;
  }

  .hero {
    padding: 0;
    margin: 0;
  }

  .hero__button {
    width: 250px;
    height: 70px;
    font-size: 2.5rem;
  }

  .container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .hero__image {
    padding: 0;
    width: 150vh;
    height: 150vh;
  }

  .hero__image img {
    width: 150vh;
    height: 150vh;
  }
}