.section2 {
  background-color: #f8f8f8;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
}


.testimonial__text {
  display: flex;
  flex-direction: column; 
  height: fit-content;
  padding-bottom: 25%;
  width: 70%;
}

.text {
  width: 70%;
}

.stars {
  font-size: 24px;
}

.text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  font-family: 'Mulish', sans-serif;
}

.bold-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 2px;
}

.text_c {
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #000000;
  margin-top: 0px;
}

.testimonials__header {
  padding-bottom: 15%;
}

.testimonial__image img {
  border-radius: 14px;
  /* padding-right: 100px; */
  /* padding-left: 100px; */
  width: 100%;
}


@media screen and (max-width: 768px) {

  .section2 {
    display: flex;
    flex-direction: column;
  }

  .testimonial__text {
    width: 100%;
    justify-content: center;
  }

  .testimonials__container {
    flex-direction: column;
    align-items: center;
    height: 160rem;
    width: 100rem;
    margin: 0;
    gap: 0;
  }

  .testimonial__image img {
    width: 100%;
    border-radius: 5%;
  }

  .text {
    font-size: 1.25rem;
    line-height: 2rem;
    width: 100%;
  }

  .bold-text {
    font-size: 1.5rem;
    line-height: 5rem;
  }

  .text_c {
    font-size: 1rem;
  }

  .stars img {
    height: 1.5rem;
  }

  .testimonials__header {
    padding-bottom: 5%;
  }
}
