.section3 {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  padding: 50px 197px 116px 197px;
} 


.stories__header {
  display: flex;
  justify-content: space-between;
  /* margin: ;80px */
  flex-direction: row;
  align-items: baseline;
}

.link {
  color: #FB8F1D;
  text-decoration: none;
  font-weight: 600;
  size: 17px;
  line-height: 60px;
}

.stories__body {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 100px;
}

.story {
  width: 266px;
  height: 446px;
  display: flex;
  flex-direction: column;
}

.story img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 261px;
  height: 231px;
  object-fit: cover;
}

.subheading {
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
}

.story__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .container__stories {
    width: 100rem;
    height: 160rem;
    margin: 0;
  }

  .stories__header {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .stories__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 150rem;
    width: 105rem;
  }

  .story {
    width: 40rem;
    height: 65rem;
    justify-items: center;
  }

  .story img {
    width: 40rem;
    height: 33rem;
  }

  .link {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 2rem;
  }

  .subheading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }

  .story__text {
    font-size: 2.75rem;
    line-height: 3rem;
  }
}